*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: whitesmoke;
    /* display: block; */
}
header{
    background-color: #ee4d2d;
    height: 25vh;
    width: auto;
}
.nav-upper{
    margin: 0px;
    height: 5vh;
    width: 100%;
    float: left;
}
.nav-container{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-left-contents{
    width: 35%;
    height: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 5%;
}
.nav-center-contents{
    width: 30%;
    height: 100%;
    float: left;
}
.nav-right-contents{
    width: 35%;
    height: 100%;
    /* float: left; */
    margin-top: 10px;
    margin-left: 5%;

    /* margin-left: 5px; */
}
.nav-search{
    height: 20vh;
    width: 100%;
    float: left;
    position: inherit;
    /* background-color: blue; */

}
.nav-search-left{
    float: left;
    width: 15%;
    height: 100%;
    
}
.nav-search-center{
    float: left;
    width: 70%;
    height: 100%;
    margin-top: 20px;
   
    /* background-color: yellow; */
}
.nav-search-right{
    float: left;
    width: 15%;
    height: 100%;
    /* background-color: blueviolet; */
}
.searchbar-container{
    /* padding: 1vh; */
    background-color: #fff;
    border-radius: 3px;
    
}
.searchbar-container+ul{
    float: left;
}
.nav-sm{
    float: left;
}
li{
    display: inline;
    font-size: small;
    font-weight: lighter;
    padding: 0 5px;
}
ul{
    display: inline;
   
}
a{
    font-size: small;
    font-weight: lighter;
   
}
input{
    background: #fff;
    width: 91%;
    height: 5vh;
    border: none;
    border-radius: 3px;
    /* margin-left: 2px; */
}
input:active{
    /* border: none; */
    border: #fff;
    
}
.btn-search{
    background-color: #ee4d2d;
    border-radius: 3px;
    width: 75px;
    height: 40px;
    border: 2px solid white;
}
.btn-search:hover{
    background-color: #f05b3d;
    
}
.btn-cart{
    background-color: #ee4d2d;
    border-radius: 3px;
    border: none;
    width: 75px;
    height: 40px;
    /* border: 2px solid white; */
    margin: 20px 0 0 30px;
}
.btn-cart:hover{
    background-color: #f05b3d;
}

.img-logo{
    margin: 20px 0 0 30px;
}
.img-cart{
    
    width: 36px;
    height: 36px;
}

