*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto, Helvetica Neue, Arial, Helvetica, sans-serif;
}
header{
    background-color: #ee4d2d;
    height: 25vh;
    width: auto;
}
.nav-upper{
    margin: 0px;
}